In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.optimizers import Adam
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import deque
import random

import firebase_admin
from firebase_admin import credentials, firestore

cred = credentials.Certificate('./serviceAccountKey.json')
default_app = firebase_admin.initialize_app(cred)
db = firestore.client()
print('Firebase Connected')

Firebase Connected

In [2]:
# install category_encoders library
!pip install category_encoders

from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
import category_encoders as ce

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 3.8MB/s
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# Collect user data from Firestore and put into DataFrame

users_docs = db.collection(u'users').stream()
user_key = []
user_list = []
for u in users_docs:
  user_key.append(list(u.to_dict().keys()))
  user_list.append(u.to_dict())

user_long_col = max(user_key, key=len)
user_df = pd.DataFrame(columns=user_long_col)
for doc in user_list:
  user_df = user_df.append(user_df.from_records([doc])).reset_index(drop=True)
user_df

    satisfaction                  email  ...     fname  gender
0           3.88     test6@testmail.com  ...     test6    male
1            NaN   xadewar523@frnla.com  ...     email    male
2           0.00  gate1001@testmail.com  ...  gate1001    male
3           0.00  gate1002@testmail.com  ...  gate1002  female
4           0.00  gate1003@testmail.com  ...  gate1003  female
5            NaN    gatetest3@gmail.com  ...        yk    male
6           0.00  gate1004@testmail.com  ...  gate1004  female
7            NaN        test56@test.com  ...    test56    male
8            NaN     test5@testmail.com  ...     test5    male
9            NaN    gatetest2@gmail.com  ...     yoget    male
10          0.00  gate1005@testmail.com  ...  gate1005  female
11          0.00  gate1006@testmail.com  ...  gate1006  female
12           NaN    gatetest4@gmail.com  ...      gate  female

[13 rows x 11 columns]

In [4]:
# Collect video data from Firestore and put into DataFrame

videos_docs = db.collection(u'videos').stream()
video_key = []
video_list = []
for v in videos_docs:
  video_key.append(list(v.to_dict().keys()))
  video_list.append(v.to_dict())

video_long_col = max(video_key, key=len)
video_df = pd.DataFrame(columns=video_long_col)
for doc in video_list:
  video_df = video_df.append(video_df.from_records([doc])).reset_index(drop=True)
video_df

        videoId uniqueviewers  ...                         category view
0   2dZiMBwX_5Q             3  ...                             java   66
1   2ePf9rue1Ao           NaN  ...           artificial intelligent    6
2   BvJYXl2ywUE           NaN  ...                             html    4
3   Hjl6gbg9kmk           NaN  ...                             html    7
4   Ig1nfPjrETc           NaN  ...                 machine learning    3
5   L--IxUH4fac           NaN  ...           evolutionary algorithm    3
6   OXWvrRLzEaU           NaN  ...  generative adversarial networks    8
7   RaOejcczPas           NaN  ...                     digital twin    3
8   TlB_eWDSMt4             2  ...                           nodejs   18
9   USjZcfj8yxE           NaN  ...                              git    2
10  UrwbeOIlc68           NaN  ...                              iot    2
11  W6NZfCO5SIk             3  ...                       javascript  119
12  YqTL8dwYT54           NaN  ...                    digital twins    2
13  aircAruvnKk           NaN  ...                   neural network    2
14  eUzB0L0mSCI           NaN  ...                         test add    2
15  edZ_JYpOM8U           NaN  ...                     data science    3
16  etSN4X_fCnM           NaN  ...                               go    2
17  hjh1ikznScg           NaN  ...                 machine learning    2
18  jcYaWFhV8oY           NaN  ...                              c++    2
19  kqtD5dpn9C8           NaN  ...                           python    2
20  lL2PXC1fmnQ             1  ...                             java   19
21  nL34zDTPkcs           NaN  ...                          arduino    2
22  nZfaHIxDD5w           NaN  ...           reinforcement learning    2
23  yzIMircGU5I           NaN  ...                           pandas    4
24  z-EtmaFJieY           NaN  ...                 machine learning    2

[25 rows x 7 columns]

In [5]:
# Collect rating data from Firestore and put into DataFrame

ratings_docs = db.collection(u'ratings').stream()
rating_key = []
rating_list = []
for u in ratings_docs:
  rating_key.append(list(u.to_dict().keys()))
  rating_list.append(u.to_dict())

rating_long_col = max(rating_key, key=len)
rating_df = pd.DataFrame(columns=rating_long_col)
for doc in rating_list:
  rating_df = rating_df.append(rating_df.from_records([doc])).reset_index(drop=True)
rating_df

        videoId                        userId value
0   2dZiMBwX_5Q  0KAAFtAXIHYEG6WnQ5cq96a4ilO2     3
1   Hjl6gbg9kmk  0KAAFtAXIHYEG6WnQ5cq96a4ilO2     5
2   OXWvrRLzEaU  0KAAFtAXIHYEG6WnQ5cq96a4ilO2     3
3   TlB_eWDSMt4  0KAAFtAXIHYEG6WnQ5cq96a4ilO2     5
4   W6NZfCO5SIk  0KAAFtAXIHYEG6WnQ5cq96a4ilO2     4
5   edZ_JYpOM8U  0KAAFtAXIHYEG6WnQ5cq96a4ilO2     5
6   lL2PXC1fmnQ  0KAAFtAXIHYEG6WnQ5cq96a4ilO2     1
7   yzIMircGU5I  0KAAFtAXIHYEG6WnQ5cq96a4ilO2     5
8   W6NZfCO5SIk  2cBjJaRQKjWIjUi5oz1hTxZWZ0b2     2
9   2dZiMBwX_5Q  FXF6bjg9JLfELtuWl1XqYE7wDaE2     3
10  TlB_eWDSMt4  FXF6bjg9JLfELtuWl1XqYE7wDaE2     5
11  W6NZfCO5SIk  FXF6bjg9JLfELtuWl1XqYE7wDaE2     2
12  2dZiMBwX_5Q  FdU1cWctC1dX7vNVbTzemBWp01I2     2
13  TlB_eWDSMt4  FdU1cWctC1dX7vNVbTzemBWp01I2     5
14  W6NZfCO5SIk  FdU1cWctC1dX7vNVbTzemBWp01I2     3
15  2dZiMBwX_5Q  my81SbX4tCWiGpmMak1S3rf04Lk2     3
16  TlB_eWDSMt4  u5nWdta3n4dHR0ZaVYsxIirpGUw2     1
17  W6NZfCO5SIk  u5nWdta3n4dHR0ZaVYsxIirpGUw2     3
18  2dZiMBwX_5Q  vCgeD162vPgGKXV4Drf8lIIf5oK2     5
19  2ePf9rue1Ao  vCgeD162vPgGKXV4Drf8lIIf5oK2     4
20  BvJYXl2ywUE  vCgeD162vPgGKXV4Drf8lIIf5oK2     3
21  Hjl6gbg9kmk  vCgeD162vPgGKXV4Drf8lIIf5oK2     4
22  Ig1nfPjrETc  vCgeD162vPgGKXV4Drf8lIIf5oK2     3
23  L--IxUH4fac  vCgeD162vPgGKXV4Drf8lIIf5oK2     3
24  OXWvrRLzEaU  vCgeD162vPgGKXV4Drf8lIIf5oK2     4
25  RaOejcczPas  vCgeD162vPgGKXV4Drf8lIIf5oK2     5
26  TlB_eWDSMt4  vCgeD162vPgGKXV4Drf8lIIf5oK2     3
27  USjZcfj8yxE  vCgeD162vPgGKXV4Drf8lIIf5oK2     5
28  W6NZfCO5SIk  vCgeD162vPgGKXV4Drf8lIIf5oK2     3
29  edZ_JYpOM8U  vCgeD162vPgGKXV4Drf8lIIf5oK2     3
30  etSN4X_fCnM  vCgeD162vPgGKXV4Drf8lIIf5oK2     4
31  kqtD5dpn9C8  vCgeD162vPgGKXV4Drf8lIIf5oK2     5
32  2dZiMBwX_5Q  vxrxmORukEeUX8sN1Do67cKgLU03     3
33  W6NZfCO5SIk  vxrxmORukEeUX8sN1Do67cKgLU03     3
34  jcYaWFhV8oY  vxrxmORukEeUX8sN1Do67cKgLU03     5
35  kqtD5dpn9C8  vxrxmORukEeUX8sN1Do67cKgLU03     2
36  2dZiMBwX_5Q  vxrxmORukEeUX8sN1Do67cKgLU04     3
37  TlB_eWDSMt4  vxrxmORukEeUX8sN1Do67cKgLU04     5
38  W6NZfCO5SIk  vxrxmORukEeUX8sN1Do67cKgLU04     1
39  kqtD5dpn9C8  vxrxmORukEeUX8sN1Do67cKgLU04     4
40  2dZiMBwX_5Q  w7HAc8gaB6eAkKcfz5m1BrGkOJ72     5

In [6]:
print('Encoding data...')

# Complete userID refer to userid in user_df
actual_userId = np.unique(user_df.userid)
user_enc = LabelEncoder().fit(actual_userId)

# Complete videoID refer to videoid in video_df
video_userId = np.unique(video_df.videoId)
video_enc = LabelEncoder().fit(video_userId)

# encode the userID and videoId for all DataFrame
user_df['userId'] = user_enc.transform(user_df['userid'])
rating_df['userId'] = user_enc.transform(rating_df['userId'])
video_df['videoId'] = video_enc.transform(video_df['videoId'])
rating_df['videoId'] = video_enc.transform(rating_df['videoId'])

print('Encoding done!')

Encoding data...
Encoding done!

In [9]:
video_df

    videoId uniqueviewers  ...                         category view
0         0             3  ...                             java   66
1         1           NaN  ...           artificial intelligent    6
2         2           NaN  ...                             html    4
3         3           NaN  ...                             html    7
4         4           NaN  ...                 machine learning    3
5         5           NaN  ...           evolutionary algorithm    3
6         6           NaN  ...  generative adversarial networks    8
7         7           NaN  ...                     digital twin    3
8         8             2  ...                           nodejs   18
9         9           NaN  ...                              git    2
10       10           NaN  ...                              iot    2
11       11             3  ...                       javascript  119
12       12           NaN  ...                    digital twins    2
13       13           NaN  ...                   neural network    2
14       14           NaN  ...                         test add    2
15       15           NaN  ...                     data science    3
16       16           NaN  ...                               go    2
17       17           NaN  ...                 machine learning    2
18       18           NaN  ...                              c++    2
19       19           NaN  ...                           python    2
20       20             1  ...                             java   19
21       21           NaN  ...                          arduino    2
22       22           NaN  ...           reinforcement learning    2
23       23           NaN  ...                           pandas    4
24       24           NaN  ...                 machine learning    2

[25 rows x 7 columns]