In [1]:
!wget "http://files.grouplens.org/datasets/movielens/ml-100k.zip"
!unzip ml-100k.zip
!ls

--2020-09-04 15:51:43--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  5.61MB/s    in 0.8s

2020-09-04 15:51:44 (5.61 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test
ml-100k  ml-100k.zip  sample_data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# read rating train and test data

u_data = pd.read_csv("ml-100k/u.data", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u1_base = pd.read_csv("ml-100k/u1.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u1_test = pd.read_csv("ml-100k/u1.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u2_base = pd.read_csv("ml-100k/u2.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u2_test = pd.read_csv("ml-100k/u2.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u3_base = pd.read_csv("ml-100k/u3.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u3_test = pd.read_csv("ml-100k/u3.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u4_base = pd.read_csv("ml-100k/u4.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u4_test = pd.read_csv("ml-100k/u4.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u5_base = pd.read_csv("ml-100k/u5.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u5_test = pd.read_csv("ml-100k/u5.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ua_base = pd.read_csv("ml-100k/ua.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ua_test = pd.read_csv("ml-100k/ua.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ub_base = pd.read_csv("ml-100k/ub.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ub_test = pd.read_csv("ml-100k/ub.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))

In [4]:
movie_data = {'File name':['u_data',
                           'u1_base',
                           'u1_test', 
                           'u2_base', 
                           'u2_test', 
                           'u3_base', 
                           'u3_test', 
                           'u4_base', 
                           'u4_test', 
                           'u5_base', 
                           'u5_test', 
                           'ua_base',
                           'ua_test', 
                           'ub_base', 
                           'ub_test'], 
              'User number':[len(np.unique(u_data['userId'])),
                             len(np.unique(u1_base['userId'])), 
                             len(np.unique(u1_test['userId'])), 
                             len(np.unique(u2_base['userId'])),
                             len(np.unique(u2_test['userId'])),
                             len(np.unique(u3_base['userId'])),
                             len(np.unique(u3_test['userId'])),
                             len(np.unique(u4_base['userId'])),
                             len(np.unique(u4_test['userId'])),
                             len(np.unique(u5_base['userId'])),
                             len(np.unique(u5_test['userId'])),
                             len(np.unique(ua_base['userId'])),
                             len(np.unique(ua_test['userId'])),
                             len(np.unique(ub_base['userId'])),
                             len(np.unique(ub_test['userId']))],
              
              'Movie number':[len(np.unique(u_data['movieId'])),
                             len(np.unique(u1_base['movieId'])), 
                             len(np.unique(u1_test['movieId'])), 
                             len(np.unique(u2_base['movieId'])),
                             len(np.unique(u2_test['movieId'])),
                             len(np.unique(u3_base['movieId'])),
                             len(np.unique(u3_test['movieId'])),
                             len(np.unique(u4_base['movieId'])),
                             len(np.unique(u4_test['movieId'])),
                             len(np.unique(u5_base['movieId'])),
                             len(np.unique(u5_test['movieId'])),
                             len(np.unique(ua_base['movieId'])),
                             len(np.unique(ua_test['movieId'])),
                             len(np.unique(ub_base['movieId'])),
                             len(np.unique(ub_test['movieId']))]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(movie_data) 
  
# print the data 
df

   File name  User number  Movie number
0     u_data          943          1682
1    u1_base          943          1650
2    u1_test          459          1410
3    u2_base          943          1648
4    u2_test          653          1420
5    u3_base          943          1650
6    u3_test          869          1423
7    u4_base          943          1660
8    u4_test          923          1394
9    u5_base          943          1650
10   u5_test          927          1407
11   ua_base          943          1680
12   ua_test          943          1129
13   ub_base          943          1675
14   ub_test          943          1145

In [6]:
# Load each data set (users, movies, and ratings).
users_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(
    'ml-100k/u.user', sep='|', names=users_cols, encoding='latin-1')
users

     user_id  age sex     occupation zip_code
0          1   24   M     technician    85711
1          2   53   F          other    94043
2          3   23   M         writer    32067
3          4   24   M     technician    43537
4          5   33   F          other    15213
..       ...  ...  ..            ...      ...
938      939   26   F        student    33319
939      940   32   M  administrator    02215
940      941   20   M        student    97229
941      942   48   F      librarian    78209
942      943   22   M        student    77841

[943 rows x 5 columns]

In [7]:
# The movies file contains a binary feature for each genre.
genre_cols = [
    "genre_unknown", "Action", "Adventure", "Animation", "Children", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",
    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"
]
movies_cols = [
    'movie_id', 'title', 'release_date', "video_release_date", "imdb_url"
] + genre_cols
movies = pd.read_csv(
    'ml-100k/u.item', sep='|', names=movies_cols, encoding='latin-1')

movies

      movie_id                                      title  ... War  Western
0            1                           Toy Story (1995)  ...   0        0
1            2                           GoldenEye (1995)  ...   0        0
2            3                          Four Rooms (1995)  ...   0        0
3            4                          Get Shorty (1995)  ...   0        0
4            5                             Copycat (1995)  ...   0        0
...        ...                                        ...  ...  ..      ...
1677      1678                          Mat' i syn (1997)  ...   0        0
1678      1679                           B. Monkey (1998)  ...   0        0
1679      1680                       Sliding Doors (1998)  ...   0        0
1680      1681                        You So Crazy (1994)  ...   0        0
1681      1682  Scream of Stone (Schrei aus Stein) (1991)  ...   0        0

[1682 rows x 24 columns]

In [9]:
users.age.describe()

count    943.000000
mean      34.051962
std       12.192740
min        7.000000
25%       25.000000
50%       31.000000
75%       43.000000
max       73.000000
Name: age, dtype: float64

In [10]:
users.describe(include=[np.object])

        sex occupation zip_code
count   943        943      943
unique    2         21      795
top       M    student    55414
freq    670        196        9

In [12]:
# Install Altair and activate its colab renderer.
print("Installing Altair...")
!pip install git+git://github.com/altair-viz/altair.git
import altair as alt
alt.data_transformers.enable('default', max_rows=None)
alt.renderers.enable('colab')
print("Done installing Altair.")

Installing Altair...
Collecting git+git://github.com/altair-viz/altair.git
  Cloning git://github.com/altair-viz/altair.git to /tmp/pip-req-build-pxgz_1cg
  Running command git clone -q git://github.com/altair-viz/altair.git /tmp/pip-req-build-pxgz_1cg
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from altair==4.2.0.dev0) (2.11.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from altair==4.2.0.dev0) (1.18.5)
Requirement already satisfied: toolz in /usr/local/lib/python3.6/dist-packages (from altair==4.2.0.dev0) (0.10.0)
Requirement already satisfied: jsonschema in /usr/local/lib/python3.6/dist-packages (from altair==4.2.0.dev0) (2.6.0)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.6/dist-packages (from altair==4.2.0.dev0) (1.0.5)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from altair==4.2.0.dev0) (0.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->altair==4.2.0.dev0) (1.1.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18->altair==4.2.0.dev0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.18->altair==4.2.0.dev0) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.18->altair==4.2.0.dev0) (1.15.0)
Building wheels for collected packages: altair
  Building wheel for altair (PEP 517) ... done
  Created wheel for altair: filename=altair-4.2.0.dev0-cp36-none-any.whl size=729968 sha256=7c40c76f0a66a0d1bb9dcb8106b058dd5a4a97d7f7ce760dcfd31dafa55d3c2e
  Stored in directory: /tmp/pip-ephem-wheel-cache-8pvcna9i/wheels/01/fd/91/025b6149b3949af76e93b3b3ceca5bf12cbdebc98fa46f9ec6
Successfully built altair
Installing collected packages: altair
  Found existing installation: altair 4.1.0
    Uninstalling altair-4.1.0:
      Successfully uninstalled altair-4.1.0
Successfully installed altair-4.2.0.dev0
Done installing Altair.

In [13]:
# The following functions are used to generate interactive Altair charts.
# We will display histograms of the data, sliced by a given attribute.

# Create filters to be used to slice the data.
occupation_filter = alt.selection_multi(fields=["occupation"])
occupation_chart = alt.Chart().mark_bar().encode(
    x="count()",
    y=alt.Y("occupation:N"),
    color=alt.condition(
        occupation_filter,
        alt.Color("occupation:N", scale=alt.Scale(scheme='category20')),
        alt.value("lightgray")),
).properties(width=300, height=300, selection=occupation_filter)

# A function that generates a histogram of filtered data.
def filtered_hist(field, label, filter):
  """Creates a layered chart of histograms.
  The first layer (light gray) contains the histogram of the full data, and the
  second contains the histogram of the filtered data.
  Args:
    field: the field for which to generate the histogram.
    label: String label of the histogram.
    filter: an alt.Selection object to be used to filter the data.
  """
  base = alt.Chart().mark_bar().encode(
      x=alt.X(field, bin=alt.Bin(maxbins=10), title=label),
      y="count()",
  ).properties(
      width=300,
  )
  return alt.layer(
      base.transform_filter(filter),
      base.encode(color=alt.value('lightgray'), opacity=alt.value(.7)),
  ).resolve_scale(y='independent')

In [4]:
def mask(df, key, function):
  """Returns a filtered dataframe, by applying function to key"""
  return df[function(df[key])]

In [5]:
def flatten_cols(df):
  df.columns = [' '.join(col).strip() for col in df.columns.values]
  return df

In [6]:
mask(df)

NameError: ignored