In [ ]:
!wget "http://files.grouplens.org/datasets/movielens/ml-100k.zip"
!unzip ml-100k.zip
!ls

--2020-09-03 03:59:00--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  14.4MB/s    in 0.3s

2020-09-03 03:59:00 (14.4 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test
ml-100k  ml-100k.zip  sample_data

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# read rating train and test data

u_data = pd.read_csv("ml-100k/u.data", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u1_base = pd.read_csv("ml-100k/u1.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u1_test = pd.read_csv("ml-100k/u1.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u2_base = pd.read_csv("ml-100k/u2.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u2_test = pd.read_csv("ml-100k/u2.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u3_base = pd.read_csv("ml-100k/u3.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u3_test = pd.read_csv("ml-100k/u3.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u4_base = pd.read_csv("ml-100k/u4.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u4_test = pd.read_csv("ml-100k/u4.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u5_base = pd.read_csv("ml-100k/u5.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u5_test = pd.read_csv("ml-100k/u5.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ua_base = pd.read_csv("ml-100k/ua.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ua_test = pd.read_csv("ml-100k/ua.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ub_base = pd.read_csv("ml-100k/ub.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ub_test = pd.read_csv("ml-100k/ub.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))

In [ ]:
movie_data = {'File name':['u_data',
                           'u1_base',
                           'u1_test', 
                           'u2_base', 
                           'u2_test', 
                           'u3_base', 
                           'u3_test', 
                           'u4_base', 
                           'u4_test', 
                           'u5_base', 
                           'u5_test', 
                           'ua_base',
                           'ua_test', 
                           'ub_base', 
                           'ub_test'], 
              'User number':[len(np.unique(u_data['userId'])),
                             len(np.unique(u1_base['userId'])), 
                             len(np.unique(u1_test['userId'])), 
                             len(np.unique(u2_base['userId'])),
                             len(np.unique(u2_test['userId'])),
                             len(np.unique(u3_base['userId'])),
                             len(np.unique(u3_test['userId'])),
                             len(np.unique(u4_base['userId'])),
                             len(np.unique(u4_test['userId'])),
                             len(np.unique(u5_base['userId'])),
                             len(np.unique(u5_test['userId'])),
                             len(np.unique(ua_base['userId'])),
                             len(np.unique(ua_test['userId'])),
                             len(np.unique(ub_base['userId'])),
                             len(np.unique(ub_test['userId']))],
              
              'Movie number':[len(np.unique(u_data['movieId'])),
                             len(np.unique(u1_base['movieId'])), 
                             len(np.unique(u1_test['movieId'])), 
                             len(np.unique(u2_base['movieId'])),
                             len(np.unique(u2_test['movieId'])),
                             len(np.unique(u3_base['movieId'])),
                             len(np.unique(u3_test['movieId'])),
                             len(np.unique(u4_base['movieId'])),
                             len(np.unique(u4_test['movieId'])),
                             len(np.unique(u5_base['movieId'])),
                             len(np.unique(u5_test['movieId'])),
                             len(np.unique(ua_base['movieId'])),
                             len(np.unique(ua_test['movieId'])),
                             len(np.unique(ub_base['movieId'])),
                             len(np.unique(ub_test['movieId']))]} 
  
# Creates pandas DataFrame. 
df = pd.DataFrame(movie_data) 
  
# print the data 
df

   File name  User number  Movie number
0     u_data          943          1682
1    u1_base          943          1650
2    u1_test          459          1410
3    u2_base          943          1648
4    u2_test          653          1420
5    u3_base          943          1650
6    u3_test          869          1423
7    u4_base          943          1660
8    u4_test          923          1394
9    u5_base          943          1650
10   u5_test          927          1407
11   ua_base          943          1680
12   ua_test          943          1129
13   ub_base          943          1675
14   ub_test          943          1145