In [1]:
!wget "http://files.grouplens.org/datasets/movielens/ml-100k.zip"
!unzip ml-100k.zip
!ls

--2020-09-02 15:38:03--  http://files.grouplens.org/datasets/movielens/ml-100k.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4924029 (4.7M) [application/zip]
Saving to: ‘ml-100k.zip’

ml-100k.zip         100%[===================>]   4.70M  12.9MB/s    in 0.4s

2020-09-02 15:38:04 (12.9 MB/s) - ‘ml-100k.zip’ saved [4924029/4924029]

Archive:  ml-100k.zip
   creating: ml-100k/
  inflating: ml-100k/allbut.pl
  inflating: ml-100k/mku.sh
  inflating: ml-100k/README
  inflating: ml-100k/u.data
  inflating: ml-100k/u.genre
  inflating: ml-100k/u.info
  inflating: ml-100k/u.item
  inflating: ml-100k/u.occupation
  inflating: ml-100k/u.user
  inflating: ml-100k/u1.base
  inflating: ml-100k/u1.test
  inflating: ml-100k/u2.base
  inflating: ml-100k/u2.test
  inflating: ml-100k/u3.base
  inflating: ml-100k/u3.test
  inflating: ml-100k/u4.base
  inflating: ml-100k/u4.test
  inflating: ml-100k/u5.base
  inflating: ml-100k/u5.test
  inflating: ml-100k/ua.base
  inflating: ml-100k/ua.test
  inflating: ml-100k/ub.base
  inflating: ml-100k/ub.test
ml-100k  ml-100k.zip  sample_data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# read rating train and test data

u_data = pd.read_csv("ml-100k/u.data", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u1_base = pd.read_csv("ml-100k/u1.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u1_test = pd.read_csv("ml-100k/u1.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u2_base = pd.read_csv("ml-100k/u2.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u2_test = pd.read_csv("ml-100k/u2.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u3_base = pd.read_csv("ml-100k/u3.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u3_test = pd.read_csv("ml-100k/u3.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u4_base = pd.read_csv("ml-100k/u4.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u4_test = pd.read_csv("ml-100k/u4.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u5_base = pd.read_csv("ml-100k/u5.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
u5_test = pd.read_csv("ml-100k/u5.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ua_base = pd.read_csv("ml-100k/ua.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ua_test = pd.read_csv("ml-100k/ua.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ub_base = pd.read_csv("ml-100k/ub.base", sep='\t',names="userId,movieId,rating,timestamp".split(","))
ub_test = pd.read_csv("ml-100k/ub.test", sep='\t',names="userId,movieId,rating,timestamp".split(","))

       userId  movieId  rating  timestamp
0           1        1       5  874965758
1           1        2       3  876893171
2           1        3       4  878542960
3           1        4       3  876893119
4           1        5       3  889751712
...       ...      ...     ...        ...
90565     943     1067       2  875501756
90566     943     1074       4  888640250
90567     943     1188       3  888640250
90568     943     1228       3  888640275
90569     943     1330       3  888692465

[90570 rows x 4 columns]